html {
  font-size: 18px;
}
body {
  background-color: black;
  color: white;
  line-height: 1.4rem;
}
.sitecontainer {
  width: 960px;
  margin: auto;
}

         /* Header information*/

.header {
  display: flex;
  justify-content: flex-start;
}
.header h4 {
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
  font-family: Helvetica;
  font-size: 1rem;
}
.header img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

         /* Top information*/

.top {
  display: flex;
  background-image: url("../resources/banner.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25em;
}

.container {
  display: block;
  max-width: 960px;

}

.box {
  display: block;
  background-color: black;
  position: relative;
  width: 25rem;
  height: 10rem;
  margin-top: 9rem;
  margin-left: 9rem;
  align-items: center;
}

.box p {
  padding: .25rem;
  margin-top: 2rem;
  margin-left: 3rem;
  font-family: Helvetica;
  font-size: 1rem;
  font-weight: bold;
}

.box h2 {
  margin-left: 3rem;
  font-family: Helvetica;
  font-size: 2rem;
  font-weight: bold;
  padding: 0.25rem;
  line-height: 2.4rem;
}

      /* Navigation information*/
.navbackground {
  display: flex;
  background-color: firebrick;
}

.navigation {
  display: inline-flex;
  width: 960px;
  justify-content: space-between;
}

.navigation span {
  padding: 0.75rem;
  font-family: Helvetica;

}
.menu {
  display: none;
}
      /* Main information*/

.main {
  display: flex;
  background-color: white;
}

.item {
  display: flex;
  flex-direction: column;
  border: 4px solid black;
  margin: 3rem;
  width: 30%;
  justify-content: center;
}

.item img {
  height: 9rem;
  max-width: 8em;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: 0 auto;
}

.item span {
  background-color: black;
  padding: 0.5rem;
}

.main2 {
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: 8rem;

}

.infobox {
  display: block;
  flex-direction: column;
  background-color: black;
  width: 35%;
  height: 2.5rem;
  margin-left: 3rem;
  margin-right: 3rem;
  align-items: center;
}

.infoa span {
  display: flex;
  margin-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 0.4rem;
  text-align: left;
}

.infob span {
  display: flex;
  color: black;
  text-align: left;
}
      /* Footer information*/
.footer {
  height: 5rem;
}
.Copyright {
  align-items: center;
  text-align: left;
  margin-top: 2.5rem;
}

@media only screen and (max-width: 1024px) {
  .navigation span {
    display: none;
  }
  .menucontainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu {
    display:inline-flex;
    padding-bottom: 0.75em;
  }
  .item {
    width: 47%;
    overflow: hidden;
  }
  .item img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  #third {
    display: none;
  }
}

@media only screen and (max-width: 470px) {
  .sitecontainer {
    width: 470px;
    margin: auto;
  }

  .top {
    height: 15rem;
    display: flex;
  }
  .container {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-top: 1rem;
  }
  .box {
    display: block;
    margin-left: 0;
    height: 4.5rem;
  }

  .box p {
    padding: .25rem;
    margin-top: 1rem;
    margin-left: 2rem;
    font-size: 0.77rem;
  }

  .box h2 {
    margin-left: 2rem;
    font-family: Helvetica;
    font-size: 1rem;
    padding: 0.25rem;
  }
  .menu {
    display: inline-flex;
  }
  .item {
    width: 90%;
    overflow: hidden;
  }
  .item img {
    width: auto;
    height: auto;
    display: block;
  }
  #second {
    display: none;
  }
  #third {
    display: none;
  }
  .main2 {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 12rem;

  }
  .infobox {
    width: 90%;
    margin: .5rem;
  }
  .infob span {
    padding: 0.5rem;
  }

  .Copyright {
    text-align: center;
  }
}
