html {
  font-size: 18px;
}
body {
  background-color: black;
  color: white;
  z-index: 1;
}
.sitecontainer {
  width: 960px;
}
.header {
  display: flex;
  justify-content: center;
}
.header h4 {
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
  font-family: Helvetica;
  font-size: 1rem;
}
.header img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}
.top {
  display: flex;
}
#image {
  background-image: url("../resources/banner.jpeg");
  height: 25rem;
  width: 1600px;
  z-index: 2;
}

.box {
  display: block;
  background-color: black;
  position: absolute;
  width: 25rem;
  height: 10rem;
  margin-left: 200px;
  margin-top: 9rem;
  align-items: center;
}

.box p {
  padding: .25rem;
  margin-top: 2rem;
  margin-left: 3rem;
  font-family: Helvetica;
  font-size: 1rem;
  font-weight: bold;
}

.box h2 {
  margin-left: 3rem;
  font-family: Helvetica;
  font-size: 2rem;
  font-weight: bold;
  padding: 0.25rem;
}
